<ion-view>
  <ion-nav-title>Contactenos </ion-nav-title>
  <ion-content padding="true" style='color:#444'>


<div style="   padding-top:25px;background-color: white; text-align: center;
    border-bottom: solid 2px rgba(211, 211, 211, 0.27);
    padding-bottom: 25px;">
   
   <img style='    width: 60%;' src="img/logomascotas.png">
  <div style="    margin-top: 25px;">
   
    <i style="    color: #1cb382;  font-size: 27px;" ng-click='openPage("https://ecoven.cl")'  class='icon ion-ios-world'></i>
   


     
    <i style="color:#3b5998; margin-left:50px; font-size: 27px;" ng-click='openPage("https://www.facebook.com/ecoven.cl/")' class='icon ion-social-facebook'> </i>
   

         
    <i style="color:#4099FF;  margin-left:50px;font-size: 27px;" ng-click='openPage("https://twitter.com/ecoven_lat")' class='icon ion-social-twitter'> </i>
   
</div>
 </div>





    <div style="  text-align: center;
font-size: 16px;
color: #777;
width: 80%;
margin-left: 10%;
margin-top: 25px;">
        <p> <strong> Queremos saber tu opinion! </strong><br> <br>  Has experimentado algun error o sientes que algo no esta bien? No dudes en contactarnos, simplemente envia un email a <br><br> <strong> contacto@solomascotas.cl </strong><br><br> Muchas Gracias, esperamos poder ayudarte! </p>

    </div>
  </ion-content>
</ion-view>


