<ion-view>




      <script id="nuevoEvento.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal2">
    <div  class="ion-modal-content-custom2">


      <ion-content class="padding " style="background-color: #00AD9E; color:white" >


  <i ng-click='closeModal()' style='    color: white;
    font-size: 35px;' class=" ion-android-cancel"></i>
      <div class='' style="    margin-left: 3%;margin-right: 3%;   margin-top: 3%;">

       <form name="form.anuncio" ng-submit="form.anuncio.$valid && registrarEvento(anuncio)">

                    <div  style='      color: white;
   border-bottom: solid 1px #1cb382;    margin-top: 15px;font-size: 17px !important;    padding-bottom: 13px;' >Crear Campaña</div>
                    <div  class="list " >

                        <div  style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Titulo</label></div>
                        <input   ng-model='anuncio.titulo' style='    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white' placeholder='' type="text" class="inputRegistrar md-input" required="required">

                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Descripcion</label></div>
                        <input ng-model='anuncio.descripcion' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white" type="text" class="inputRegistrar md-input" required="required">


                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Direccion</label></div>
                        <input ng-model='anuncio.direccion' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white" type="text" class="inputRegistrar md-input" required="required">


                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Fecha</label></div>
                        <input ng-model='anuncio.fecha' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white" type="date" class="inputRegistrar md-input" required="required">





                       <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Tipo de campaña</label></div>

    <select ng-model='anuncio.tipoEvento'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Esterilizacion</option>
      <option  ng-value='2' >Adopcion</option>
      <option  ng-value='3' >Reunir fondos</option>
       <option  ng-value='4' >Otro</option>
    </select>



                    </div>

                         
            <button ng-disabled="form.anuncio.$invalid" style="margin-bottom: 55px; background-color: white!important;color: #00AD9E !important; "  class="button button-full " >Publicar</button>

            </form>
        
      </div> 
      <!--   <button class="button button-full button-positive" ng-click="closeModal()">Close Modal</button> -->
      </ion-content>
    </div>
  </ion-modal-view>
</script>


<ion-nav-buttons side="right">
           <!-- Toggle left side menu -->
           <button  class="button button-icon icon ion-plus" ng-click='agregarEvento()' ></button>
          </ion-nav-buttons>


  <ion-nav-title>Campañas </ion-nav-title>
  <ion-content padding="true" style='color:#444'>
      <ion-refresher class="spinner-balanced" on-refresh="loadNext()"></ion-refresher>
      
    <br>
    <form name="form.search" ng-submit="form.search.$valid && goToList()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="search.string" required="required" placeholder="Ciudad, tipo o palabra">
      </label>
      <br />
      <!-- <div>
        <label class="checkbox" style="display:flex; align-items: center">
          <input type="checkbox" ng-model="search.satTrans" style="margin-right: 20px;">
          Eventos de adopcion
        </label>
      </div>
      <div>
        <label class="checkbox" style="display:flex; align-items: center">
          <input type="checkbox" ng-model="search.wheelChair" style="margin-right: 20px;">
          Eventos de esterilizacion
        </label>
      </div> -->
<!--       <div>
        <label class="checkbox" style="display:flex; align-items: center">
          <input type="checkbox" ng-model="search.wheelChairLift" style="margin-right: 20px;">
          Filtrar por cercania
        </label>
      </div> -->
      <!-- <button class="button button-balanced button-block" ng-disabled="form.search.$invalid"><b>Buscar</b></button> -->
    </form>

    <h3 style="color:#444"><span>Campañas programadas</span></h3>
    <ion-list>
      <ion-item class="item-icon-right item-avatar item-royal" ui-sref="detail({id: event.idEvento})" ng-repeat="event in events | filter:{ descripcion: search.string } | filter:{ nombre: search.string } track by event.idEvento  | limitTo:limit">
        <img ng-src="img/campana{{event.tipoEvento}}.png">
        <h2 style='color:white !important' class="positive">{{event.nombre}}</h2>
        <p>
          <b>{{event.tipoEvento == 1 ? 'Esterilizacion' : event.tipoEvento == 2 ? 'Adopcion' : event.tipoEvento == 3 ? 'Reunir Fondos' : 'Otro'}}</b> / 24/08/2017<br>
          {{event.descripcion}} 
        </p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="text-center item-royal" ng-if="events && !events.length">No events found :(</ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="!events"
      on-infinite="loadNext()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
