<ion-view>
  <ion-nav-title>Detalles</ion-nav-title>
  <ion-content padding="true">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">
<div style="text-align:center; margin-bottom:25px">
      <h3 style="     margin-bottom: 0px;    color: #444;   display: inline-block;">{{event.nombre}}</h3>
      <h4 style="       margin-top: 0px; color: #444"> <small></small></h4>


      <p style="    margin-bottom: 25px;color:#666">{{event.descripcion}}</p>


       <div style="    font-size: 20px;
display:inline-block;margin-right: 20px; white-space: pre-line;color:#444"><img style="       vertical-align: bottom; border: none;
    width: 30px;
    height: 30px;
    border-radius: 0px;" src="img/animal{{event.id_raza}}.png"> {{event.sexo}}</div>

    <div style="    font-size: 20px;
display:inline-block; white-space: pre-line;color:#444"><img style="      vertical-align: bottom;  border: none;
    width: 30px;
    height: 30px;
    border-radius: 0px;" src="img/age.png"> {{event.edad}}</div>


    </div> 

       <div class="text-center">
        <img ng-src="{{urlImg}}/{{event.photo}}" class="image">
      </div>


      <br>
      <ion-list>
        <ion-item  class="item-divider item-icon-right"><b>Informacion adicional </b> <i class="icon ion-information-circled"></i></ion-item>
        <ion-item style='text-align:center;'>

       

<ul style="text-align: left;
    list-style-type: circle;
    margin-left: 13px;
    margin-top: 5px;
    line-height: 3;">
  <li style="    height: 30px;">Condicion: {{event.tipoAnuncio}}</li>
  <li style="    height: 30px;">Esterilizacion: {{event.ester}}</li>
  <li style="    height: 30px;">Ubicacion: {{getDistance(event.distance)}}</li>
  <li style="    height: 30px;">Publicado hace {{event.tiempoPublicacion}} dias</li>
</ul>




      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Contacto</b> <i class="icon ion-android-contact"></i></ion-item>

           

              <ion-item style='border-bottom: none' class="item-icon-right" style='border:none'>

<!--             <img style='    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 13px;' ng-src="{{urlImg}}/{{event.photoUser}}" class="image"> -->

    <img style='    
    border: none !important;height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 13px;' ng-src="img/users.png" class="image">

    {{event.name}}
        </ion-item>


<!--     <ion-item style='border-top: none' class="item-icon-right">
           {{event.phone == null || event.phone == "" ? 'No especifica' : event.phone}}
          <i class="icon ion-android-call"></i>
        </ion-item>
 -->

     
        <ion-item style='border-top: none' class="item-icon-right">
         {{event.email == null ? 'No especifica' : event.email}}
          <i class="icon ion-ios-email"></i>
        </ion-item>
 
      </ion-list>

       <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Comentarios</b> <i class="icon ion-chatboxes"></i></ion-item>

           



              <ion-item  ng-repeat='c in comentarios'  style='padding-right: 20px;margin-top: 10px;border-bottom: none' class="item-icon-right" style='border:none'>
                  <img style='    
                  border: none !important;height: 50px;
                  width: 50px;
                  vertical-align: middle;
                  margin-right: 13px;' ng-src="{{urlImg}}/{{c.photo}}"  onerror="this.src='img/user2.png';" class="image">

                  <span><b>{{c.name}}</b><span style="opacity:0.4;float:right">Hace {{c.tiempoPublicacion}} dias</span></span>


                  <ion-item style='border:none' >

                      <span style="white-space:initial">{{c.texto}}</span>

                  </ion-item>
             </ion-item>


                           <ion-item style='    margin-top: 10px;border-bottom: none' class="ddss item-icon-right" style='border:none'>
            
      <textarea placeholder="Escribe tu comentario" style="padding:5px;border:solid 1px lightgray; width:100%;resize: none; height:100px" ng-model='comentarioDetalle' ></textarea>
      <button style='margin-top: 10px' ng-disabled="!comentarioDetalle" ng-click='publicarComentario(comentarioDetalle); comentarioDetalle="" ' class="button">Comentar</button>

             </ion-item>








      </ion-list>


    </div>
  </ion-content>
<!--   <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar> -->
</ion-view>
