<ion-view hide-back-button='true'>



      <script id="nuevoAnuncio.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal2">
    <div  class="ion-modal-content-custom2">


      <ion-content class="padding " style="background-color: #00AD9E; color:white" >
  <i ng-click='closeModal()' style='    color: white;
    font-size: 35px;' class=" ion-android-cancel"></i>
      <div class='' style="    margin-left: 3%;margin-right: 3%;   margin-top: 3%;">

       <form name="form.anuncio" ng-submit="form.anuncio.$valid && registrarAnuncio(anuncio)">

                    <div  style='      color: white;
   border-bottom: solid 1px #1cb382;    margin-top: 15px;font-size: 17px !important;    padding-bottom: 13px;' >Crear Anuncio</div>
                    <div  class="list " >

                        <div  style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Titulo</label></div>
                        <input   ng-model='anuncio.titulo' style='    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white' placeholder='' type="text" class="inputRegistrar md-input" required="required">

                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Descripcion</label></div>
                        <input ng-model='anuncio.descripcion' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white" type="text" class="inputRegistrar md-input" required="required">





                        <div  style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Fecha en que se perdió, se encontró o la fecha actual si es que se regalan</label></div>
                        <input   ng-model='anuncio.fecha' style='    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white' placeholder='' type="date" class="inputRegistrar md-input" required="required">





                       <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Tipo de anuncio</label></div>

    <select ng-model='anuncio.tipoAnuncio'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Encontrado</option>
      <option  ng-value='2' >Perdido</option>
      <option  ng-value='3' >Se regalan</option>
    </select>




<!--    <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Lugar</label></div>

    <select ng-model='anuncio.lugar'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

       <option ng-repeat='l in lugaresLista' ng-value='l.codigoInterno' >{{l.nombre}}</option>
 
    </select> -->


                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Tipo de animal</label></div>

    <select ng-model='anuncio.tipoAnimal'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Perro</option>
      <option  ng-value='2' >Gato</option>
      <option  ng-value='3' >Otro</option>
    </select>

                          <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Genero</label></div>

    <select ng-model='anuncio.genero'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Macho</option>
      <option  ng-value='2' >Hembra</option>
      <option  ng-value='3' >No especificado</option>
    </select>





                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;" >Edad del animal</label></div>

    <select ng-model='anuncio.edadAnimal'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Menos de 6 meses</option>
      <option  ng-value='2' >Menos de 1 año</option>
      <option  ng-value='3' >1 año</option>
      <option  ng-value='4' >2 año</option>
      <option  ng-value='5' >3 año</option>
      <option  ng-value='6' >4 año</option>
      <option  ng-value='13' >Mas de 5 años</option>

    </select>




                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Esterilizado</label></div>

    <select ng-model='anuncio.esterilizadoAnimal'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Si</option>
      <option  ng-value='2' >No</option>
      <option  selected ng-value='3' >Sin definir</option>


    </select>


                            <div  style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Video (link a youtube)</label></div>
                        <input   ng-model='anuncio.video' style='    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white' placeholder='' type="text" class="inputRegistrar md-input">




                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Foto</label></div>

   
    <button class="button" style="    margin-top: 10px;
    min-height: 30px !important;
    height: 30px;
    line-height: 1;" ng-click='cambiarFoto()'><i  style='' class="ion-image"></i>Agregar imagen</button><br>

<div style="text-align:center">
     <img ng-show='{{fotoV}}'  style='height: 200px;margin-top: 28px;' ng-src='{{foto.imagenAnuncio}}'>
</div>





                    </div>

                         
            <button ng-disabled="form.anuncio.$invalid" style="margin-bottom: 55px; background-color: white!important;color: #00AD9E !important; "  class="button button-full " >Publicar</button>

            </form>
        
      </div> 
      <!--   <button class="button button-full button-positive" ng-click="closeModal()">Close Modal</button> -->
      </ion-content>
    </div>
  </ion-modal-view>
</script>




 <script id="buscarAnuncio.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal2">
    <div  class="ion-modal-content-custom2">


      <ion-content class="padding " style="background-color: #00AD9E; color:white" >
  <i ng-click='closeModal()' style='    color: white;
    font-size: 35px;' class=" ion-android-cancel"></i>
      <div class='' style="    margin-left: 3%;margin-right: 3%;   margin-top: 3%;">



                    <div  style='      color: white;
      margin-top: 15px;font-size: 17px !important;    padding-bottom: 13px;' >Buscar</div>

                    <div  class="list " >


              <div  style='       padding: 0px;
    background-color: transparent;
   border-bottom: 0px !important;' class="bar bar-header item-input-inset">
              <label class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search" placeholder="Busqueda por palabra" ng-model='filtro.palabra'>
              </label>
              <button  style="color: white;
    border: solid 1px;
    padding: 4px;" class="button button-clear" ng-click='busquedaAnuncio(filtro)'>
              Buscar
              </button>
              </div>




                        <div  style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Filtros</label></div>
                       


                       <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Tipo de anuncio</label></div>

    <select ng-model='filtro.tipoAnuncio'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Encontrado</option>
      <option  ng-value='2' >Perdido</option>
      <option  ng-value='3' >Se regalan</option>
    </select>



                       <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Distancia</label></div>

    <select ng-model='filtro.distancia'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" ng-disabled="!gpsActivo">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='10' >10km</option>
      <option  ng-value='50' >50km</option>
      <option  ng-value='70' >70km</option>
    </select>



                       <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Tipo Mascota</label></div>

    <select ng-model='filtro.tipoMascota'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='1' >Perro</option>
      <option  ng-value='2' >Gato</option>
      <option  ng-value='3' >Otro</option>
    </select>



                       <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Fecha</label></div>

    <select ng-model='filtro.fecha'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

    <!--   <option ng-repeat='l in lugares' ng-value='l.idLugar' >{{l.nombre}}</option> -->
     <option ng-value='7' >Ultima semana</option>
      <option  ng-value='30' >Ultimo mes</option>
      <option  ng-value='180' >Ultimos 6 meses</option>
    </select>


<!--    <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Lugar</label></div>

    <select ng-model='anuncio.lugar'  style="    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;" required="required">

       <option ng-repeat='l in lugaresLista' ng-value='l.codigoInterno' >{{l.nombre}}</option>
 
    </select> -->




                    </div>

                         
       

   
        
      </div> 
      <!--   <button class="button button-full button-positive" ng-click="closeModal()">Close Modal</button> -->
      </ion-content>
    </div>
  </ion-modal-view>
</script>



          <ion-nav-buttons side="left">
           <!-- Toggle left side menu -->
           <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          </ion-nav-buttons>



          <ion-nav-buttons side="right">
           <!-- Toggle left side menu -->
        
           <button  class="button button-icon icon ion-plus" ng-click='agregarAnuncio()' ></button>
             
          </ion-nav-buttons>



  <ion-nav-title>Anuncios</ion-nav-title>



    <div ng-controller='publiCtrl' ng-show='publicidadActiva' style=" width: 100%;
position: absolute;
bottom: 0px;
max-height: 27%;
z-index: 5;
background-color: lightgray;
text-align: center;" >
      
      <img style='    width: 95%;
bottom: 0;
z-index: 15;
max-width: 500px;'   ng-click='goPubli()' ng-src="{{urlImg}}/{{imagenPublicidad.imagen}}" ng-src="">

    <i ng-click='cerrarPubli()' style='position: absolute;
    top: -7px;
    right: 0;
    font-size: 30px;
    margin-right: 0.5%;' class="ion-close-circled" ></i>

  </div>



  <ion-content padding="true">



    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>

    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>


    <div ng-show="!loading">
    	    <div class="{{layout}} chat-list-wrap">





          <div style='    font-size: 15px;
    text-align: center;
    color: #777;
    margin-top: 20px;'  ng-show='chats.length == 0' > No se han encontrado publicaciones</div>


      <a class="item item-thumbnail-left" ng-repeat="chat in chats" ui-sref="detailPublicacion({id: chat.id})" style="    min-height: 172px; margin-top: 10px;"> 
        <img ng-src="{{urlImg}}/{{chat.photo}}" style="border-radius: 5%;    border: none;">
        <h2 style="color:#FF8600; white-space: pre-line !important">{{chat.nombre}}</h2>

         <p style="color:#444 !important; white-space: pre-line !important;    max-height: 44px;">{{chat.descripcion}}</p>
       

     <div style="white-space: pre-line;"><img style="    border: none;
    width: 30px;
    height: 30px;
    border-radius: 0px;" src="img/animal{{chat.id_raza}}.png"> {{chat.edad}}</div>


        <h2 style="color:#444 !important;"><img style='  border-radius: 0px;  height: 30px; width: 30px;border: none;vertical-align: middle;margin-right: 5px;' src="img/tipoa{{chat.id_tipoanuncio}}.png"><strong>{{chat.tipoAnuncio}}</strong></h2>
        <div   style="     background-color: lightcoral;
    position: absolute;
    left: 7px;
    top: 0;
    margin-top: 131px;
    width: 100px;
    max-width: 100px;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    color: white;">
         Hace {{chat.tiempoPublicacion}} dias
        </div>
      </a>
    </div>
    </div>
  </ion-content>
<!--   <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar> -->
</ion-view>





